---
import { Image } from "astro:assets";
---

<section class="cemetery">
  <div class="cemetery-container">
    <div class="cemetery-image">
      <Image
        src="/images/webp/Sacramento-muslim-cemetery.jpg"
        alt="Sacramento Muslim Cemetery"
        width={1200}
        height={400}
        inferSize
      />
    </div>
  </div>
</section>
